@model CuentasFinal.Models.SALDO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>SALDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ABONO.IdAbono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ABONO.IdAbono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACTURA.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACTURA.IdFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MONTOCREDITO.IdMonto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MONTOCREDITO.IdMonto)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdSaldo }) |
    @Html.ActionLink("Regresar", "Index")
</p>
