@model CuentasFinal.Models.MONTOCREDITO

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas Seguro de Eliminar el Monto ?</h3>
<div>
    <h4>MONTO CREDITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREDITO.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREDITO.Detalle)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
