@{
    ViewBag.Title = "About";
}

<img src="~/Scripts/logo.jpg" width="200">
<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("Registrar Cliente", "Index", "CLIENTEs")</h2>

        <p></p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Prestamo", "Index", "CREDITOes")</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Factura", "Index", "FACTURAs")</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("Detalle Factura", "Index", "DETALLEFACTURAs")</h2>

        <p></p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Monto de Credito", "Index", "MONTOCREDITOes")</h2>
        <p></p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Saldos", "Index", "SALDOes")</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2> @Html.ActionLink("Abonos", "Index", "ABONOes")</h2>

        <p></p>
    </div>
    <div class="col-md-4">
        <h2> @Html.ActionLink("Recibo de Caja", "Index", "RECIBOCAJAs")</h2>
        <p></p>
    </div>
   
</div>


