@model CuentasFinal.Models.CREDITO

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Credito</h2>

<div>
    <h4>CREDITO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Detalle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ESTADOCREDITO.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ESTADOCREDITO.Estado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdCredito }) |
    @Html.ActionLink("Regresar", "Index")
</p>
