@model IEnumerable<CuentasFinal.Models.CLIENTE>

@{
    ViewBag.Title = "Index";
}

<img src="~/Scripts/logo.jpg" width="200">

<p>
    @Html.ActionLink("Nuevo Cliente", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPOCLIENTE.TipoCliente1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPOCLIENTE.TipoCliente1)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCliente }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdCliente }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCliente })
        </td>
    </tr>
}

</table>
