@model CuentasFinal.Models.DETALLEFACTURA

@{
    ViewBag.Title = "Details";
}

<h2>Detalles </h2>

<div>
    <h4>DETALLE FACTURA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FACTURA.IdFactura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FACTURA.IdFactura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdDetalle }) |
    @Html.ActionLink("Regresar", "Index")
</p>
