@model IEnumerable<CuentasFinal.Models.DETALLEFACTURA>

@{
    ViewBag.Title = "Index";
}

<img src="~/Scripts/logo.jpg" width="200">

<p>
    @Html.ActionLink("Nuevo Detalle Factura", "Create")
</p>
<table class="table table-striped ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CantidadProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FACTURA.IdFactura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTO.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FACTURA.IdFactura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTO.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdDetalle }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdDetalle }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdDetalle })
        </td>
    </tr>
}

</table>
