@model CuentasFinal.Models.FACTURA

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Estas seguro de Eliminar La Factura?</h3>
<div>
    <h4>FACTURA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLIENTE.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLIENTE.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIPOPAGO.TipoPago1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIPOPAGO.TipoPago1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            @Html.ActionLink("Regresar", "Index")
        </div>
    }
</div>
